
<div class='parent inline-flex-parent'>
    <div class='child'>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <label>
              Task Name:
              <input type="text" formControlName="taskName" required>
            </label>
            <div formGroupName="rates">
              <h3>Rates</h3>
              <label>
                Speed: (Kms/Hr)
                <input type="text" formControlName="speed">
              </label>
              <label>
                Number of Resources:
                <input type="text" formControlName="resources">
              </label>
            </div>
            <button type="submit" [disabled]="!profileForm.valid || !(allocatedTasks.length>0)">Submit</button>
          </form>
          <hr>
          <p>
            Form Value: {{ profileForm.value | json }}
          </p>
          <p>
            Form Status: {{ profileForm.status }}
          </p>
          <p>
            <button (click)="updateProfile()">Generic Task</button>
          </p>        
    </div>
    <div class='child'>
        <div cdkDropListGroup>
            <div class="example-container">
              <h3>Scheduled Tasks</h3>
          
              <div
                cdkDropList
                [cdkDropListData]="scheduledTasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of scheduledTasks" cdkDrag>{{item.UniqID}}</div>
              </div>
            </div>
          
            <div class="example-container">
              <h3>Ordered Tasks</h3>
          
              <div
                cdkDropList
                [cdkDropListData]="allocatedTasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of allocatedTasks" cdkDrag>{{item.UniqID}}</div>
              </div>
            </div>
          </div>
    </div>
</div>