
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#external-events {
  position: fixed;
  /* z-index: 0; */
  top: 100px;
  left: 20px;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  display:inline-block;
}

.fc-event {
  margin: 1em 0;
  cursor: move;
  position: absolute;
}

#calendar-container {
  position: relative;
  /* z-index: 1; */
  margin-left: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 60px;
  
}

.listing li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.listing li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.listing li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.text {
  position: relative;
  top: -3px;
}

